@charset "utf-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,section, article, aside, header, footer, nav, dialog, figure,menu,hgroup,iframe { margin:0; padding:0; border:0; }
html { -webkit-text-size-adjust:none; }
body { font-family:"Lantinghei SC","Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif; font-size:14px; line-height:28px; background:#fff;  -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased;  font-smoothing: antialiased;  color:#444; }

input,textarea { resize:none; font-family:"Microsoft YaHei"; background: #fff; border: 0; }
input:focus,textarea:focus { outline:none; }

a { text-decoration:none; color:#666; font-size:18px; outline:none; }
a:hover { color:#2478be; }

h1,h2,h3,h4,h5,h6 { font-weight:normal; }
h1 { font-size:40px; line-height:48px; color:#fff; }
ul,li { list-style:none; }
img { border:none; vertical-align:middle; }
b { font-weight:normal; }

.fl { float:left; }
.fr { float:right; }
.of { overflow:hidden; }
.cl { clear:both; }